<%= form_tag password_resets_path, :method => :post do %>
  <div class="field" id="forgot_password">
    <%= text_field_tag(:email, nil, placeholder: "Email") %> 
  </div>
    
  <div class="form-actions center-text content-small-padding">
    <%= submit_tag "Reset Password", :class => 'ctr_button' %>
  </div>
<% end %>