<div class="row full-width-admin center-text nav">
  <div class="large-2 small-0 admin-box mobile-hide columns"></div>

  <div class="large-2  small-4 admin-box columns">
    <%= link_to 'View Email Log', :emails %>
  </div>
  
  <div class="large-2  small-4 admin-box columns">
    <%= link_to 'Monkey Maintenance', :sockmonkeys %>
  </div>
  
  <div class="large-2  small-4 admin-box columns">
    <%= link_to 'Email Templates', :templates %>
  </div>
  
  <div class="large-2  small-4 admin-box columns">
    <%= link_to 'Admin Home', :admin %>
  </div>
  
  <div class="large-2 small-0 admin-box mobile-hide columns"></div>
</div>