<div class="row">
  <div class="large-12 small-12 center-text content-padding columns">
    <div class="page-header">
      <h1>Edit User</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 center small-12 content-bottom-padding columns">
    <%= render :partial => 'form' %>
  </div>
</div>