<div id="controller_users" class="banner">
  
  <div class="row">  
    <span class="large-2 large-centered columns">
      <div class="center-banner">
        <div class="users-text-banner">
          Short message on how to become an User...Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
        </div>

        <div class="separator-banner large-9 large-centered small-centered columns"></div>
          <div class="tagline-banner">
            Check out our users below!
          </div>
        </div>
    </span>
   </div> 
 </div>

<div class="row content-padding center-text">
  <% @users.each do |user| %>
  <ul>
    <li>
      <b>
        <%= link_to "#{user.fname} #{user.lname}", user_path(user.id) %>
      </b>
        <%= user.email %>
    </li>
  </ul>
  <% end %>
</div>