<h1 class="center content-padding">All Users</h1>
<div class="row center-text content-bottom-padding">
  <% @users.each do |user| %>
  <ul>
    <li>
      <b>
        <%= link_to "#{user.fname} #{user.lname}", user_path(user.id) %>
      </b>
        <%= user.email %>
    </li>
  </ul>
  <% end %>
</div>