<!DOCTYPE html>
<html>
  
  <% content_for :hero_unit do %>
        <h1>Hello World!</h1>
        <p>Can anybody see me?</p>
        <p>
          <a class="btn btn-primary btn-large">
            Enroll!
          </a>
        </p>
  <% end %>

  <body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </body>
   
</html>
