<!DOCTYPE html>
<html>
  
  <% content_for :hero_unit do %>
    <div class="hero-unit">
        <div class="container">
        <h1>Hello World!</h1>
        <p>Can anybody see me?</p>
        <p>
          <a class="btn btn-primary btn-large">
            Enroll!
          </a>
        </p>
        </div>
      </div>
  <% end %>

  <body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </body>
   
</html>
