<div>
  Short message on how to become an Angel...Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat.
</div>

<h2>Select a recipient:</h2>

<div>
  <% @requests.each do |request| %>
    <% if !request.angel_id %>
      <div>
        <%= link_to "Requestor Pictures #{image_tag(request.before_photo_url)}".html_safe, request_path(request.id) %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "Show More" %>
