  <div id="controller_<%= params[:controller] %>" class="banner">
    
    <div class="row">  
      <span class="large-2 large-centered columns">
        <div class="center-banner">
        <div class="requests-text-banner">
          Short message on how to become an Angel.
        </div>
  
        <div class="separator-banner large-9 large-centered small-centered columns"></div>
  
        <div class="tagline-banner">
          Check out our requests below!
        </div>
        </div>
      </span>
     </div> 
   </div>
   
<div class="row content-padding">

  <h2>Select a recipient:</h2>

  <div class="requests clear">

    <% if @requests %>
      <% @requests.each do |request| %>
    
          <div class="request">
            <%= link_to image_tag(request.before_photo_url).html_safe, request_path(request.id), :class => 'left' %>
          </div>
        
      <% end %>
    <% else %>
      <h2>There are no requests at this time.  You still can become an Angel and for the next Sock Monkey requestor!</h2>
      <p><%= link_to "Become Angel", "http://smacmonkey.com" %></p>
    <% end %>
  </div>

  <%= link_to "Show More" %>
</div>