<div class="row">
  <div class"large-12 columns">
    <div id="request" class="form" >
      <div class="form_name center">
        Request a sock monkey!
      </div>

    <div class="clear"></div>
  
    <div class="form_main">
      <%- model_class = Request -%>
        
      <%= render :partial => 'form', :locals => {:request => @request} %>
        
      <%= link_to 'Back', requests_path %>
    </div>
  </div>
</div>

<div class="push"></div>

