$mac-orange: #F75E11;
$mac-blue: #3299BB;
$mac-darkgray: #424242;
$mac-gray: #BCBCBC;
$mac-lightgray: #E9E9E9;

// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blue {
  h1, h2, h3, h4, h5 {
    display: inline-block;
    color: white;
    border-bottom: 2px solid white;
  }
  
  .nav a:hover{
    color: white;
  }
  
  a, p, li {
    color: white;
  }
  
  .left {
    text-align: left;
    margin-left: 20px;
  }
  
  top: 10px;
  background: $mac-blue;
  padding-bottom: 30px;
}

#admin .center {
  margin: 0 auto;
}

#admin table th {
  color: white;
}

#admin table {
  top: -23px;
  position: relative;
}

#admin #admin_requests p, 
#admin #admin_requests li,
#admin #admin_requests a
{
  color: white;
}