/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

b {
  color:#3299BB;
}

a {
  text-decoration:none;
  transition-property: all;
  transition-duration: 0.5s;
}

a:hover{
  color:white;
}

h1, h2, h3, h4 {
  color:#FF9900;
}