/* `Applies to all
----------------------------------------------------------------------------------------------------*/

.form_name{
  height: 100px;
  line-height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #E9E9E9;
  display: block;
}

.form_name2{
  height: 50px;
  line-height: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #424242;
  display:block;
  cursor: pointer;
}

.form input[type="text"]{
  width: 300px;
  height: 55px; 
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

.text_area{
  width: 300px;
  height: 300px; 
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

.form input[type="password"]{
  width: 300px;
  height: 55px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

.form input[type="submit"]{
  margin-top: 15px;
  margin-bottom: 15px;
}

.file_button{
  margin-top: 25px;
}

input[type="file"] {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 12px 45px;
  //padding: 8px;
  position: relative;
  background: #3299BB;
  color: rgba(255,255,255, 0.5);
  border: 1px solid rgba(255,255,255, 0.5);
  overflow: hidden;
  height: 60px;
  width: 300px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  z-index: 1;
  cursor: pointer;
}

input[type="file"]:after { /* Mask the no file chosen label */
  background: #3299BB;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

input[type="file"]::-webkit-file-upload-button { /* Style the button */
  background: #3299BB;
  display: block;
  margin: 0 auto;
  color: rgba(255,255,255, 0.5);
  transition-property: all;
  transition-duration: 0.5s;
  font: inherit;
  font-size: 24px;
  border: none;
  text-align: center;
  position: relative;
  z-index: 100;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
  color: #FFF;
}

.checkbox{
  display: inline-block;
  width: 100%;
  margin: 20px 0;
}

.checkbox span{
  display: block;
  text-align: left;
  margin-left: 22%;
  margin-right: 21%;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 10px;
  color: #E9E9E9;
  line-height: 18px;
}

.form input[type="checkbox"]{
  -webkit-appearance: none; 
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  background: #FFF;
  margin-left: 22%;
  vertical-align: middle;
}

.form input[type="checkbox"]:checked{
  background: #F75E11;
}

.checkbox label{
  margin-left: 10px;
  color: #E9E9E9;
  line-height: 18px;
}

.form input[type="radio"]{
  -webkit-appearance: none; 
  -moz-appearance: checkbox;
}

.big_button{
  position:relative;
  width: 120px;
  height: 120px;
  background: #FFF;
  margin-left: 10px;
  top:-130px;
  left:-45px;
  border:solid 5px #000;
  cursor:pointer;
}

.monkey_pic{
  position:relative;
  z-index:1;
  cursor:pointer;
}

.form input[type="radio"]:checked{
  background: #F75E11;
}

.ctr_button{
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  border: none;
  height: 60px;
  width: 300px;
  background: none;
  //background: #424242;
  color: #E9E9E9;
  font-size: 24px;
  cursor: pointer;
  padding: 15px 45px;
  color: rgba(255,255,255, 0.5);
  border: 1px solid rgba(255,255,255, 0.5);
  transition-property: all;
  transition-duration: 0.5s;
}

.ctr_button:hover {
  color: #FFF;
}

.ctr_button p{
  margin-top: 24px;
}
.control-label{
  display: none;
}
//BackEnd Madness Starts Here
.request_submit{
  padding:0 0 40 0;
}
/* `Signup form
----------------------------------------------------------------------------------------------------*/

#signup{
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 200px;
  background: #3299BB;
  height: 600px;
  width: 100%;
}

/* `Login form
----------------------------------------------------------------------------------------------------*/

#login{
  display: block;
  margin: 100px auto 10px auto;
  background: #3299BB;
  /*height: 650px;*/
  width: 100%;
  padding-bottom: 20px;
}

.login_sign_up {
  text-align: center;
}
.login_sign_up a {
  padding-top: 15px;
}
.login_sign_up a:hover {
  color: #E9E9E9;
}

.no_account {
  margin: 0 auto 200px auto;
  padding: 10px 0 30px 0;
  background: #3299BB;
  width: 100%;
}

.password_resets {
  padding-bottom: 25px;
}

.no_link {
  cursor: default
}

/* `Request form
----------------------------------------------------------------------------------------------------*/

#request{
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 200px;
  background: #3299BB;
  //height: 1775px;
  width: 100%;
  padding-bottom:40px;
}

#request p{
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 17px;
  color: #E9E9E9;
}

.monkeys {
  margin: 0 auto 0 auto;
  width: 280px;
  padding: 20px 0 0 0;

}
.monkey {
  padding: 0 10px;
}
.monkey_pic {
  padding: 0;
  position: absolute;
  margin: 14px 0 0 20px;
}
#monkey_name a {
  color: #424242;
}
.big_button2 {
  position: relative;
  width: 120px;
  height: 120px;
  background: #fff;
  border: 2px solid #ccc;
}
/*
.monkeys{
  display: block;
  height: 350px;
  margin-top: 0px; //EDITED BY BACK END GUY _ SORRY
}

.monkeys ul{
  display: block;
  text-decoration: none;
  margin-top: 50px;
}

.monkeys li{
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.monkeys a{
  color: #E9E9E9;
  font-size: 24px;
  //beware back end tom-foolery here//
  position:relative;
  top:-100px;
  left:66px; 
  //end tom-foolery//
}

#monkey_name{
  margin-top: 15px;
}

.monkey_checkbox {
  margin-top: 25px;
  width: 50%;
}
*/

/* `Responsive styles
----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 600px) {  

  .form input[type="checkbox"]{
    margin: 10px 12%;
  }
  
  .checkbox label{
    margin-left: -30px;
  }
  
  .checkbox span{
    margin-left: 12%;
    margin-right: 12%;
  }
  
  #request{
    margin-top: 150px;
  } 
     
}




















