//'Basics

body{
  padding-top: 60px; // Keep.
}

b {
  color:#3299BB;
}

a {
  text-decoration:none;
  transition-property: all;
  transition-duration: 0.5s;
}

a:hover{
  color:white;
}

h1, h2, h3, h4 {
  color:#FF9900;
}

//-----------------------------------------------------------------------------------------------------

*, *:before, *:after{
  box-sizing: border-box;
}

.row.full-width {
  width: 100%;
  max-width: 100%; 
}

#controller_requests.hero-unit {
  position: relative;
  background: lightgray;
  height: 500px;
  top: -20px
}

#controller_home{
  background: #FFF;
  height: 500px;
  top: -20px; 
  position: relative; 
}

/* `Navbar
----------------------------------------------------------------------------------------------------*/

#top-bar{
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.brand{
  margin-top: 10px;
}

.container .nav-collapse ul{
  float: right;
  margin-top: 20px;
}

.container .nav-collapse li{
  display: inline;
  padding: 10px;
}

.navbar a{
  color: #BCBCBC;
}

/* `Homepage banner
----------------------------------------------------------------------------------------------------*/

.center{
  text-align: center;
}

#hp_logo{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  margin-top: 100px;
}

// TODO
#hp_logo img{
  
}

.name{
  height: 120px;
  line-height: 120px;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #F75E11;
  display:block;
}

.separator{
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.top-left{
  float: left;
  margin-top: 20px;
}

.top-left a{
  text-decoration: none;
  margin-left: 20px;
  color: #000;
}

.top-right{
  float: right;
  margin-top: 5px;
}

.top-right li{
  display: inline;
  padding: 10px;
}

.top-right a{
  text-decoration: none;
  margin-right: 10px;
  color: #000;
}



