

* {
  .clear:before,
  .clear:after {
      content: " ";
      display: table;
  }

  .clear:after {
      clear: both;
  }
}

//'Basics

body{
  padding-top: 60px; // Keep.;
}

p {
  font-family: "HelveticaNeue-Light", helvetica, arial, sans-serif;
}

b {
  color:#3299BB;
}

a {
  text-decoration:none;
  transition-property: all;
  transition-duration: 0.5s;
  color:#3299BB;
}

a:hover{
  color:#424242;
}

h1, h2, h3, h4 {
  color:#3299BB;
}

ul{
  list-style-type: none;
}

.container{
  width:800px;
  margin:0 auto;
}

// Buttons ----------------------------------------------------------------------------------------------

.button-link {
  padding: 15px 45px;
  color: rgba(255,255,255, 0.5);
  border: 1px solid rgba(255,255,255, 0.5);
  transition-property: all;
  transition-duration: 0.5s;
}

.button-link:hover {
  color:#FFF;
}

.button-link-blue {
  padding: 15px 45px;
  border: 1px solid #3299BB;
  transition-property: all;
  transition-duration: 0.5s;
}

.button-link-blue:hover {
  color:#FFF;
  background:#3299BB;
}

//-----------------------------------------------------------------------------------------------------

.content-padding{
  padding-top:100px;
  padding-bottom:100px;
}

.content-small-padding{
  padding-top:25px;
  padding-bottom:25px;
}

.center-text{
  text-align:center;
}

.row ul, li {
  padding: 0;
} 

//-----------------------------------------------------------------------------------------------------

*, *:before, *:after{
  box-sizing: border-box;
}

.row.full-width {
  width: 100%;
  max-width: 100%; 
}

#controller_requests{
  position: relative;
  background: lightgray;
  height: 500px;
  top: -20px
}


//------------------------------------------------------------------------------------------------------

/* Navigation Settings */
.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.top-left{
  float: left;
  margin-top: 20px;
}

.top-bar ul{
  padding: 0;
  //text-align: center;
  margin: 0;
  float: right;
}

.top-bar li {
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
  //padding: 24px 10px;
}

.top-bar a {  
  color: #424242;  
  display: inline-block;  
  width: 100px;  
  text-align: center;  
  text-decoration: none;  
  line-height: 40px;  
  font-family: 'Lato', sans-serif;
  padding-top:10px;
}  

.top-bar li a {  
  border-right: 1px solid #E9E9E9;
  padding-bottom: 10px;    
}  

.top-bar li:last-child a {  
  border-right: 0;  
}

.top-bar a:hover, nav a:active {  
  background-color: #F75E11;  
  color:#FFF;
} 

.top-bar img{
  height: 60px;
}


/* `Banner text for other pages
----------------------------------------------------------------------------------------------------*/

.center-banner{
  text-align: center;
}

.name-banner{ 
//  line-height: 120px;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: rgba(255,255,255, 0.7);
  display: block;
  vertical-align:middle;
  padding-top: 100px;
  margin-top: 450px;
}

.tagline-banner{
  height: 60px;
  line-height: 60px;
  bottom: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #FFF;
  display: block;
}

.avatar-banner{
//  float:left;
  position: absolute;
  margin-top: 195px;
  border-radius: 100%;
  border: 15px solid rgba(255,255,255, 0.7);
  overflow: hidden;
}

.separator-banner{
  border-bottom: 1px solid rgba(255,255,255, 0.5);
  width: 350px;
  display: block;
  margin-top: 20px;
}

.text-banner{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: rgba(255,255,255, 0.7);
  display: block;
  vertical-align: middle;
  margin-top: 190px;
}

/* `Footer
----------------------------------------------------------------------------------------------------*/

.top-footer{
  height: 110px;
  background: #F75E11;
}

.footer-icons {
  display: inline;
//  float:right;
//  padding-bottom:15px;
//  padding-right:20px;
//  padding-left:20px;
  padding: 0px 30px;
}

.footer {
  padding: 1em;
  background: #424242;
  display: block;
  bottom: 0;
  left: 0;
  margin: 0; 
  text-align: center;
  height: 400px;
  padding-top: 100px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer img{
  width: 300px;
}

#footer .push {
 height: 216px;
}

/* `Responsive styles
----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 600px) {  

  .fixed{
    height: 0px;
  }
  
  .top-bar {  
    position: fixed; 
    top: 0; 
    z-index: 1; 
  }  

  .top-bar ul {  
    width: 100%;  
    display: block;  
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;  
  }  

  .top-bar li {  
    width: 50%;  
    float: left;  
    position: relative;
    margin-top: 0;  
  }  

  .top-bar li a {  
    border-bottom: 1px solid #E9E9E9;  
    border-right: 1px solid #E9E9E9;  
  }  

  .top-bar a {  
    text-align: left;  
    width: 100%; 
    text-align:center;
  }

  .top-bar img{
    display: none;
  }
     
}













