*, *:before, *:after{
     box-sizing: border-box;
}

.row.full-width {
  width: 100%;
  max-width: 100%; 
}

.banner


#controller_requests.hero-unit {
  position: relative;
  background: lightgray;
  height: 500px;
  top: -20px
}

#controller_home.hero-unit{
  background: #FFF;
  height: 500px;
  top: -20px; 
  position: relative; 
}

/* `Navbar
----------------------------------------------------------------------------------------------------*/

#top-bar{
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.top-left{
  float: left;
  margin-top: 20px;
}

.top-left a{
  text-decoration: none;
  margin-left: 20px;
  color: #000;
}

.top-right{
  float: right;
  margin-top: 5px;
}

.top-right li{
  display: inline;
  padding: 10px;
}

.top-right a{
  text-decoration: none;
  margin-right: 10px;
  color: #000;
}



