#controller_home{
  background: #FFF;
  height: 700px;
  top: -60px; 
  position: relative;
  background-image: url("sockmonkey2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  //background-size: 50%;
  //background-position: 650px 25px;
}

/* `Homepage banner
----------------------------------------------------------------------------------------------------*/

.center{
  text-align: center;
}

.name{
  margin-top: 300px;
  height: 100px;
  line-height: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #F75E11;
  display:block;
}

.separator{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 350px;
  margin: 0 auto;
  display:block;
}

.tagline{
  height: 60px;
  line-height: 60px;
  bottom: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #424242;
  display: block;
}

#resp_monkey{
  display: none;
}


/* `Request gallery
----------------------------------------------------------------------------------------------------*/

.container-fluid{
  width: 100%;
  margin: 0;
  padding: 0;
}

.gallery {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  margin-top: -80px;
}

.gallery ul{
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.gallery li div{
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#idx_square {
  background: #F75E11;
}

#idx_square:hover {
  opacity: .5;
  transition: all 0.25s ease-in-out;
  z-index: 1;
}

#idx_square p{
  z-index: .25;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  position: absolute;
  top: 10%;
  font-family: "HelveticaNeue-Light", helvetica, arial, sans-serif;
}

.gallery li div img.ribbon{
  position: absolute;
  bottom: -1px;
  right: 0px;
  z-index: .75;
  width: 75%;
  height: 75%;
}

/* `3 calls to action
----------------------------------------------------------------------------------------------------*/

.opt_icon{
  display: block;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  background: #E9E9E9;
  border-radius: 100%;
  z-index: 0;
  margin-top: 75px;
}

.fa-gift {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #BCBCBC;
  font-size: 80px;
  margin-top: 19px;
  margin-left: 1px;
}

.fa-gift:hover {
  color: #F75E11;
}

.fa-heart {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #BCBCBC;
  font-size: 80px;
  margin-top: 23px;
  margin-left: 1px;
}

.fa-heart:hover {
  color: #F75E11;
}

.fa-bullhorn {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #BCBCBC;
  font-size: 80px;
  margin-top: 20px;
  margin-left: 1px;
}

.fa-bullhorn:hover {
  color: #F75E11;
}

.opt_text{
  padding-left: 20px;
  padding-right: 20px;
}

.opt_text p{
  font-size: 18px;
}

/* `Quotes section
----------------------------------------------------------------------------------------------------*/

//#q_bkgrd{
//  margin-top: 100px;
//  margin-bottom: 100px;
//}

//#q_bkgrd {
//  width: 100%;
//  height: 700px;
//  display: block;
//  position: relative;
//  background: url("SMAC_1.jpg");
//  background-repeat: no-repeat;
//  background-size: 100%;
//  overflow: hidden;
//}

#quotes{
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

#q_icons{
  padding-top: 25px;
}

.qleft_icon {
  position: relative;
}
 
.qleft_icon:before {
  content: "\f10d"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #424242;
  font-size: 40px;
}

.qright_icon {
  position: relative;
}

.qright_icon:before {
  content: "\f10e"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #424242;
  font-size: 40px;
}

#q_text{
  margin: 0 auto;
  margin-top: 25px;
  width: 60%;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  color: #424242;
}

#quoter{
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 100;
  color: #424242;
  padding-bottom: 25px;
}

/* `Features
----------------------------------------------------------------------------------------------------*/

.feature-divider{
  margin: 0 auto;
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.featurette{
  margin-top: 100px;
  margin-bottom: 100px;
}

//.featurette img{
//  width: 100%;
//  height: auto;
//  border-radius: 100%;
//  background-position: center;
//  background-size: cover;
//}

.feature-heading-left{
  margin-top: 70px;
  padding-right: 40px;
}

.feature-text-left{
  padding-right: 40px;
  line-height: 24px;
  font-size: 18px;
  color: #424242;
}

.feature-heading-right{
  margin-top: 70px;
  margin-left: 40px;
}

.feature-text-right{
  margin-left: 40px;
  line-height: 24px;
  font-size: 18px;
  color: #424242;
}


#f_img1{
  background-image: url("feature1.jpg");
  width: 377px;
  height: 377px;
  border: 20px solid #E9E9E9;
  border-radius: 100%;
  background-position: 0px -100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#f_img1:hover{
  transition: all 2s ease;
  border: 20px solid #F75E11;
}

#f_img2{
  background-image: url("feature2.jpg");
  width: 377px;
  height: 377px;
  border: 20px solid #E9E9E9;
  border-radius: 100%;
  background-position: 0px 0px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#f_img2:hover{
  transition: all 2s ease;
  border: 20px solid #F75E11;
}

#f_img3{
  background-image: url("feature3.jpg");
  width: 377px;
  height: 377px;
  border: 20px solid #E9E9E9;
  border-radius: 100%;
  background-position: 0px 0px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#f_img3:hover{
  transition: all 2s ease;
  border: 20px solid #F75E11;
}

/* `Navigation
----------------------------------------------------------------------------------------------------*/

//* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 10;
}

/* Navigation Settings */
nav {
  position: absolute;
  bottom: 5vh;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
}

nav ul{
  padding: 0;
  //text-align: center;
  margin: 0;
  float: right;
}

nav li {
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  //padding: 24px 10px;
}

nav a {  
  color: #424242;  
  display: inline-block;  
  width: 100px;  
  text-align: center;  
  text-decoration: none;  
  line-height: 40px;  
  font-family: 'Lato', sans-serif;
  padding-top:5px;
}  

nav li a {  
  border-right: 1px solid #E9E9E9;
  padding-bottom: 5px;    
}  

nav li:last-child a {  
  border-right: 0;  
}

nav ul a:hover {  
  background-color: #F75E11;  
  color:#FFF;
} 

nav img{
  height: 60px;
}

//section {
//  height: 100vh;
//}

#screen1 {
  height: 99vh;
}

nav a#pull {  
  display: none;  
}

.logo_bott{
  float: left;
  margin-top: 5px;
  margin-left: 20px;
}

/* `Responsive styles
----------------------------------------------------------------------------------------------------*/  

@media screen and (max-width: 600px) {  

  .fixed{
    height: 0px;
  }
  
  nav {  
    position: fixed; 
    top: 0; 
    z-index: 10;
    background: none; 
  }  

  nav ul {  
    width: 100%;  
    display: block;  
    height: auto;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1;  
  }  

  nav li {  
    width: 50%;  
    float: left;  
    position: relative;
    margin-top: 0;  
  }  

  nav li a {  
    border-bottom: 1px solid #E9E9E9;  
    border-right: 1px solid #E9E9E9;  
  }  

  nav a {  
    text-align: left;  
    width: 100%; 
    text-align:center;
  }

  nav img{
    display: none;
  }
  
  .logo_bott{
    display: none;
  }
  
  #controller_home{
    background-image: none;
  }
  
  #resp_monkey{
    display: block;
    margin: 0 auto;
    margin-left: -145px;
    margin-top: 100px;
    width: 400px;
  }
  
  #q_text{
    width: 90%;
  }
  
  #quoter{
    font-size: 16px;
  }
  
  .featurette{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .feature-heading-left{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .feature-text-left{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .feature-heading-right{
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .feature-text-right{
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
  
  .hp.fa.fa-plus {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #F39A7E;
    font-size: 250px;
    text-align: center;
    margin-top: 35px;
  }
     
}

/* `Parallax scrolling
----------------------------------------------------------------------------------------------------*/ 

#screen2 { 
  position: relative;
  background: url("SMAC_1.jpg") 50% 0 fixed;
  background-repeat: no-repeat;
  height: 700px;  
  margin: 0 auto; 
  width: 100%; 
  bottom: 0;
  position: relative; 
  padding: 200px 0;
}














