$mac-orange: #F75E11;
$mac-blue: #3299BB;
$mac-darkgray: #424242;
$mac-gray: #BCBCBC;
$mac-lightgray: #E9E9E9;

#iframe-image{
  width:33%;
  float:left;
  position:relative;
}

#iframe-image .ribbon{
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: .75;
  width: 75%;
  height: 75%;
  float:left;
}

#iframe.row{
  position:relative;
  margin-top:-50px;
  left:0px;
  display: block;
  height:350px;
}
#iframe_slogan h3{
  color:black;
  font-size:20px;
}

#iframe_slogan img{
  width:10%;
}

#logo_story{
  background-image: url("/assets/SMAC_logotrans.png");
  opacity: 85%;
  background-size: 100%;
  background-repeat: no-repeat;
  height:350px;
  background-position:16px;
  text-align:center;
  color:black;
  margin-top:15px;
}

#request_image {
  overflow:hidden;
  padding:10px;
  margin-top:15px;
}

.smooth h1 h2{
  //background-color:rgba(255,0,0,0.5);
}
.smooth h2{
//  transition: all 1s ease;
//
//  padding: 10px;
//  
  line-height:1.2;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  color:black;
  //background-color:rgba(255,0,0,0.5);
}
