.unavailable_option{
  color:#777;
}

#controller_requests.banner{
  height:800px;
  width:100%;
  background-color:#F75E11;
  margin-top:-40px;
}

#controller_requests.requests-show-banner{
  height:800px;
  width:100%;
  background-color:#F75E11;
  margin-top:-40px;
}

.requests-text-banner{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: rgba(255,255,255, 0.7);
  display:block;
  vertical-align:middle;
  margin-top:250px;
  line-height:150%;
  transition: all 1s ease;
}

@media screen and (max-width: 700px) {
  .requests-text-banner {
    line-height:120%;
    font-size:30px;
    padding-top:100px;
  }
}

.storytime{
  font-size:1.5em;
  color:#808080;
}

.private-box{
  float:right;
//  border:5px solid black;
//  width:25%;
//  min-width: 50px;
  height:135px;
  background-color:#E9E9E9;
  padding-top:50px;
}

.full-width-requests{
  width: 100%;
  max-width: 100%; 
  margin-top:-20px;
}

.request a {
  width: 225px;
  height: 225px;
  margin: 5px 0px 0 0px;
  /*transition: all 1s ease;*/
}

.less-side-padding{
  margin-left:-16px;
  margin-right:-16px;
  margin-top:-3px;
}

/*.request a:hover {
  -webkit-transform: scale(1.1);
  border: 3px solid #f1712f;
}*/

.add_request {
  display: block;
  width: 225px;
  height: 225px;
  margin: 5px 10px 0 10px;
  background-color: #3299BB;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  transition: all 1s ease;
  opacity: 0.5;
  overflow: hidden;
}

.add_request:hover {
  opacity: 1;
  color: #3299BB;
}

.add_request p{
  color: #E9E9E9;
}
.request img {
  border: 3px solid #fff;
  transition: all 1s ease;
}
.request img:hover {
  -webkit-transform: scale(1.1);
  border: 3px solid #f1712f;
}

//Icons ----------------------------------------------------------------------

.fa-facebook-square {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #F39A7E;
  font-size: 80px;
  margin: 0 20px;
}

.fa-facebook-square:hover {
  color: #FFF;
}
 
.fa-twitter {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #F39A7E;
  font-size: 80px;
  margin:0 20px;
}

.fa-twitter:hover {
  color: #FFF;
}
 
.fa-pinterest {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #F39A7E;
  font-size: 80px;
  margin:0 20px;
}

.fa-pinterest:hover {
  color:#FFF;
}
 
.fa-shopping-cart {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #F39A7E;
  font-size: 80px;
  margin:0 20px;
}

.fa-shopping-cart:hover {
  color: #FFF;
}

.fa-plus {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #E9E9E9;
  font-size: 200px;
  margin-top: -15px;
}

.fa-plus:hover {
  color: #E9E9E9;
}

// Submit Buttons ------------------------------------------------------------------------

input[type=text].submit-button {padding:5px; border:2px solid #ccc; 
-webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text].submit-button:focus {border-color:#FFF; }

input[type=submit].submit-button {
    cursor:pointer;
    padding: 15px 45px;
    color: #3299BB;
    border: 1px solid #3299BB;
    background-color:white;
    transition-property: all;
    transition-duration: .8s;
}

input[type=submit].submit-button:hover {
    color: #FFF;
    background-color:#3299BB;
}

//Facebook Comments --------------------------------------------------------------------------

.fb-comments {
  margin-top: 30px;
  padding-top: 10px;
  background: #BCBCBC;
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}

#share-buttons{
  padding-top:30px;
}

@media screen and (max-width: 600px) {
  
  .fa-facebook-square, 
  .fa-twitter,
  .fa-pinterest,
  .fa-shopping-cart
   {
    font-size: 60px;
    margin: 0 5px;
    margin-top: 10px;
  }
}

//Admin Controls -------------------------------------------------------------------------------

.full-width-admin{
  max-width: 100%; 
  margin-top:-20px;
  background:#424242;
}

.admin-box{
  float:right;
  height:80px;
  background-color:#424242;
  padding-top:30px;
  color:#BCBCBC;
  transition-property: all;
  transition-duration: .8s;
}

.admin-box:hover{
  color:#FFF;
}

@media screen and (max-width: 700px) {
  .mobile-hide {
//    height:0px;
//    margin-top:-50px;
  }
}
.email_log {
  width: 80%;
  margin: 0 auto;
}
.email_log thead{
  border-bottom: 1px solid black;
}
.email_log thead th, .email_log tbody td {
  padding: 5px 0;
}
.email_log tr:nth-child(even) {
  background-color: rgba(0,150,225,0.2);
}

.status_log {
  width: 40%;
  margin: 0 auto;
}
.status_log thead{
  border-bottom: 1px solid black;
}
.status_log thead th, .status_log tbody td {
  text-align: left;
  padding: 5px 0;
}
.status_log tr:nth-child(even){
  background-color: rgba(0,150,225,0.2);
}
    
//Tables -------------------------------------------------------------------------------------------

table {
  color:#7B7B7B;
}

th {
  color:#3299BB;
}
