#controller_requests.banner{
  height:800px;
  width:100%;
  background-color:#FF9900;
  margin-top:-40px;
}

#controller_requests.requests-show-banner{
  height:800px;
  width:100%;
  background-color:#FF9900;
  margin-top:-40px;
}

.requests-text-banner{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: rgba(255,255,255, 0.7);
  display:block;
  vertical-align:middle;
  margin-top:220px;
}