$mac-orange: #F75E11;
$mac-blue: #3299BB;
$mac-darkgray: #424242;
$mac-gray: #BCBCBC;
$mac-lightgray: #E9E9E9;

.users-text-banner{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: rgba(255,255,255, 0.7);
  display:block;
  margin-top:230px;
}

#controller_users.user-show-banner{
  height:300px;
  width:100%;
  background-color:$mac-blue;
  margin-top:-60px;
}


.user-avatar{
  border-radius: 100%;
  border: 15px solid rgba(255,255,255, 0.7);
  overflow: hidden;
}

.user-avatar-angel{
  border-radius: 100%;
  border: 15px solid rgba(255,255,255, 0.7);
  overflow: hidden;
//  height:200px;
}

.fa-angle-double-right {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: $mac-gray;
  font-size: 80px;
//  margin-left:-60px;
  padding-top:30px;
  padding-right:70px;
  padding-left:30px;
}

@media screen and (max-width: 600px) {
  .fa-angle-double-right {

  }
}

//<div><% if request.before_photo_url.url == nil %>
//  <%= image_tag("profile.png") %>
//<% else %>
//  <%= image_tag(request.before_photo_url_url(:thumb), :class => "user-avatar") %>
//<% end %>
//</div>